#scrollUp {
	border-radius: 50%;
    border: 2px solid $scrollup;
    color: $scrollup;
    bottom: 1.25rem;
    font-size: 30px;
    height: 50px;
    width: 50px;
    right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;

    @include hover-focus() {
        color: $white;
    }
}

@include media-breakpoint-down(md) {
    #scrollUp {
        bottom: 2rem;
    }
}
