/*.secondary-navigation {

    .menu {
        > .menu-item {
            margin-left: 21px;

            > a {
                display: flex;
                align-items: center;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}
*/